@media only screen and (max-width: 767px) {

#astronaut {

	margin: 4rem auto;
	width: 65vw;
	height: 100%;
	width: 100%:
  
}

	
	
	
.menu_toggler {
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 9999;
		height: 28px;
		width: 28px;
		outline: none;
		cursor: pointer;
		display: flex;
		align-items: center;
		/*  background: #fff;*/
	}
	
	
.hero__title {
    position: absolute;
    display: inline-block;
	width: 100%;
    top: 10%;
	left: 65%;
    margin: 0 auto;
   font-size: 3rem;
	margin-bottom: 2rem;
    
}

	.hero__title--two {
		margin: 0 auto;
		top: 270%;
		left: 50%;
		width: 100%;
		text-align: center;
	}

	
	
	
	.hero__intro {
		width: 60vw;
		margin: 0 auto;
	}
	
	
	
	
	
	span,
	span::after,
	span::before {
		position: absolute;
		content: '';
		width: 28px;
		height: 2.5px;
		background: #FAFAFA;
		border-radius: 20px;
		transition: 600ms cubic-bezier(0.77, 0, 0.175, 1);
		/*  cubic-bezier(0.77,0,0.175, 1)*/
	}

	span::before {
		top: -8px;
	}

	span::after {
		top: 8px;
	}

	.menu_toggler.active > span {
		background: transparent;
	}

	.menu_toggler.active > span::after,
	.menu_toggler.active > span::before {
		background: #005C9C;
		top: 0;

	}

	.menu_toggler.active > span::before {
		transform: rotate(-225deg);
	}

	.menu_toggler.active > span::after {
		transform: rotate(225deg);
	}



	.main-nav {
		display: none;
	}

	.main-nav {
		float: left;
		width: 100%;
		/*		display: block;*/
		font-size: 1.8em;
		text-align: center;

	}

	.main-nav.active {
		display: block;
		transition: 2s;
		font-size: 1.2em;
		margin-top: 3.5rem;
		background-color: 

	}

	.main-nav li {
		display: block;
		margin: 0 auto;
		text-align: center;
		width: 100%;
		transform: translateX(-60%);
		
		
	
	}
	.main-nav li a:link,
	.main-nav li a:visited {
		display: block;
		padding: 10px 0;
		font-size: 100%;
		width: 20%;
		margin: 0 auto;
	}
	
	.main-nav li a:hover {
		border-bottom: 2px solid aliceblue;
	}

	.main-nav li ul.dropdown {
		display: block;
		margin: 0 auto;
		/*		position: absolute;*/
		/*		left: 50;*/
/*		width: 100%;*/
		text-align: center;
	}
	
	.main-nav li ul.dropdown li {
		text-align: center;
	}
   


	.sticky .main-nav li a:link,
	.sticky .main-nav li a:visited {
		/*	apply only when class is inside the sticky class*/
		padding: 10px 0;
		color: #555;
	}
	.sticky .main-nav {
		margin-top: .6em;


	}
	
	
	/*

.sticky .logo {
	display: none;
}
*/
	.sticky .logo {
		display: none;
		/*	hide normal logo in sticky */
	}

	.sticky .logo2 {
		display: block;
		/*display it in the sticky state*/
	}

	.section-footer {
		height: auto;
	}

	.wrap {
		min-height: calc(100vh - auto);
	}
}