@font-face {
  font-family: 'ConsolaMono';
  src: url('fonts/ConsolaMono.ttf') /* IE9 Compat Modes */
     url('fonts/Panton-Regular.otf') format('woff'),
       url('fonts/Panton-Regular.otf') format('woff2'),

       url('fonts/Panton-BlackCaps.otf') format('otf'), /* IE6-IE8 */
       url('fonts/Panton-Light.otf') format('woff2'),  /*Super Modern Browsers*/ 
       url('fonts/Panton-LightitalicCaps.otf') format('woff'); /* Pretty Modern Browsers */
    font-style: normal;
    font-weight: 100;
  
}


html, body {
      height: 100%;
      margin: 0;
      padding: 0;
	font-Size: 1rem;
}

body {
      font-family: "ConsolaMono", sans-serif;
      overflow: hidden;
/*      color: white;*/
}

h1,p {
    color: aliceblue;
    
}


.titles {
	position: relative;
	display: block;
	padding: 1rem;
	width: 20rem;
	top: -20%;
	left: -30%;
}

#astronaut {
    position: absolute;
    height: 60%;
    width: 60%;
    margin: 0%;
    top: 40;
    margin-left: 30%;
}

.hero__title {
    position: absolute;
    display: inline-block;
    top: 20%;
    left: 20%;
   font-size: 3rem;
    
}

.hero__title--two {
     position: absolute;
    display: inline-block;
    color: aliceblue;
    left: 20%;
    top: 30%;
    font-size: 1rem;
	margin-top: 1rem;
}

.hero__intro {
    max-width: 50%;
    display: block;
    margin-right: 40%;
    
}


nav {
	height: 8%;
	width: 100%;
	top: 0%;
	position: fixed;
	
}
.main-nav {
	margin-top: 0em;
	float: right;
	list-style: none;
	text-decoration: none;
	top: 0%;
/*	right: 0;*/
	position: absolute;
	width: 100%;
	
}

.main-nav li {
	float: left;
	display: inline-block;
	margin-right: 1.6rem;
	padding: 1rem;
	left: 55%;
	position: relative;
	font-size: 1.2rem;
	
}

.main-nav li a:link,
.main-nav li a:visited {
	padding: 8px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
/*	create before hover*/
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.6s;
	
	
}



ul li:hover > ul.dropdown,
ul li ul:hover li:hover{
  visibility: visible;
  opacity: 1;
  display: block;
  
}


ul li ul.dropdown li {
  clear: both;
  width: 100%;
}


.main-nav li a:hover, 
.main-nav li a:active {
	border-bottom: 2px solid aliceblue;
}

.main-nav li ul {
	visibility: hidden;
	opacity: 0;
	display: none;
    position: absolute;
	transition: all 1s ease;
	margin-top: 1rem;
    display: none;
	right: 0;
}

.main-nav li ul.dropdown li {
	margin: 0.3em;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}


/*
.btn-full {
	position: absolute;
	top: 170%;
	display: inline-block;
	padding: 10px 30px;
	left: 50%;
	transform: translate(-50%, -50%);
	ten top 30 left and right
	font-weight: 300;
	text-decoration: none;
	background-color: azure;
}

*/


/*STICKY NAV*/


.sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 2px 2px #e8e8e8;
	z-index: 9999;
}





.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
/*	apply only when class is inside the sticky class*/
	padding: 8px 0;
	color: #555;
}
.sticky .main-nav {
	margin-top: .8em;

	
}
/*

.sticky .logo {
	display: none;
}
*/

.sticky .logo {
	display: none;
/*	hide normal logo in sticky */
}

.sticky .logo2 {
	display: block;
/*display it in the sticky state*/
}
.slide {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
      width: 100%;
      height: 100%;
}

.card {
      width: 100%;
      height: 100vh;
      display: flex;
      background: #fff;
}

.card-img {
      background-position: center;
      width: 50%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
}

#img01 {
      background-image: url("https://images.unsplash.com/photo-1505324453012-a12195b84346?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80");
}

#img02 {
      background-image: url(" https://images.unsplash.com/photo-1517223674523-595bea3551ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1402&q=80");
}

#img03 {
      background-image: url(" https://images.unsplash.com/photo-1485880776513-a4058931414e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}

.card-content {
      padding: 10% 5%;
      box-sizing: border-box;
      width: 50%;
      background: #0A0A0A;
}

.card-theme {
      font-weight: 900;
      font-size: 1.7vmin;
      text-transform: uppercase;
    
      letter-spacing: 10px;
      color: grey;
}

.card-header {
      font-weight: 700;
      font-size: 54px;
      text-transform: capitalize;
      line-height: 1;
      margin: 3vmin 0 3.5vmin;
      color: #fff;
     
}

.card-para {
      font-size: 1.6vmin;
      line-height: 1.8;
      font-weight: 300;
      margin-bottom: 2.5vmin;
      color: #fff;
     
}

.card-link {
      color: #fff;
    
      font-size: 1.8vmin;
      display: block;
      cursor: pointer;
      opacity: 0.7;
      transition: opacity 0.3s ease;
}

.card-link:after {
      content: "→";
}

.prevnext {
      position: absolute;
      width: 4vmin;
      height: 8vmin;
      right: 2%;
      bottom: 0;
      top: 80%;
      color: #fff;
      margin: auto 0;
}

.pn-btn {
      color: #fff;
      width: 100%;
      height: 50%;
      border: 0;
      background-color: transparent;
      font-size: 20px;
}

#prev, #next {
      position: relative;
      cursor: pointer;
}

#prev:focus, #next:focus {
      outline: none;
}

#prev:hover:after, #next:hover:after {
      opacity: 1;
}

#prev:after, #next:after {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      opacity: 0.6;
      transition: opacity 0.3s ease;
}

#prev:after {
      content: "↑"
}

#next:after {
      content: "↓"
}

.work {
    height: 100vh;
}
